<div class="widgets">
    <span class="" id="weather-icon"></span>&nbsp;
    <span id="weather">Loading...</span><span id="dots">&nbsp;&#9679;&nbsp;</span>
    <span id="clock">00:00</span>
    <span style="margin-right: 80vw;"></span>
  <img id="settings" class="settings" src="../assets/settings.svg" title="Options">
</div>
<div class="main">
  <h2>QuickStart</h2>
  <ul class="quickstart" id="quickstart"></ul>
  <h2>Most Visited</h2>
  <ul class="quickstart" id="mostVisited"></ul>
</div>
<div class="footer">
  <span id="random"></span>
</div>