<div class="widgets">
    <span class="" id="weather-icon"></span>&nbsp;
    <span id="weather">Loading...</span><span id="dots">&nbsp;&#9679;&nbsp;</span>
    <span id="clock">00:00</span>
    <span style="margin-right: 80vw;"></span>
  <img id="settings" class="settings" src="../assets/settings.svg" title="Options">
</div>
<div class="main">
  <h1 class="title">Search</h1>
  <form action="https://duck.com">
    <input type="text" id="search" name="q" class="search" title="Search with DuckDuckGo">
  </form>
  <span id="press" class="a_like">Search with Images</span> &#9679; <span id="press1" class="a_like">I'm feeling
    lucky</span>
  <ul class="quickstart" id="quickstart"></ul>
</div>
<div class="footer">
  <span id="random"></span>
</div>